<h1>My Daily Decisions</h1>
<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_decisions.each do |daily_decision| %>
      <tr>
        <td><%= daily_decision.query.title %></td>
        <td>
          <%= link_to "Edit", edit_daily_decision_path(daily_decision) %>
          <%= link_to "Delete", daily_decision_path(daily_decision), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Daily Decision", new_daily_decision_path %>
